@* Displays about page *@
@main("About") {
    <link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
<div class="container content">
    <div class="col-sm-6">
        <h1>The Project</h1>
        <p class="lead">This is a team project for CS2340 at Georgia Tech. We are using the Play Framework to create a dashboard for managing yard and estate sales.</p>
    </div>
    <div class="col-sm-6">
        <h1>The Team</h1>
        <ul>
            <li>Nathan Cheek</li>
            <li>Pablo Ortega</li>
            <li>Hasan Qadri</li>
            <li>Nick Yokley</li>
        </ul>
    </div>
</div>
}
