@(saleId: Int, tranId: Int, message : String)
@loggedinmain("Create Sale") {


//creates sale form
<div class="container content">
    @if(message) {<h3 class="text-center">@message</h3>}
    <div class="col-sm-4">
        <a href="/sale/@saleId/transaction/@tranId"><h4>&#8592; Return to Transaction</h4></a>
        <form class="form-confirmTransaction" id="confirmTransaction" action="/sale/@saleId/confirmTransaction/@tranId" method="post">
            <label for="inputName" class="sr-only">Buyer Name</label>
            <input type="text" maxlength="255" id="inputName" name="name" class="form-control input-top" placeholder="Buyer Bob" required autofocus>
            <label for="inputAddress" class="sr-only">Buyer Address</label>
            <input type="text" maxlength="255" id="inputAddress" name="address" class="form-control input-top" placeholder="9000 3rd Street">
            <label for="inputEmail" class="sr-only">Buyer Email</label>
            <input type="text" maxlength="255" id="inputEmail" name="email" class="form-control input-top" placeholder="bob&#64gmail.com">

            <div class="col-sm-6">
                <div class="btn-toolbar pull-right">
                    <a href="/sale/@saleId" class="btn btn-danger" onclick = "cancelTransactionId">CANCEL TRANSACTION</a>
                    <button class="btn btn-success" name = "confirmTransaction" type="submit">CONFIRM TRANSACTION</button>
                </div>
            </div>
        </form>
    </div>
</div>
}