@(message: String)
@loggedinmain("Create Sale") {

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

//creates sale form
<div class="container content">
        <div class="col-sm-4">
        <form class="form-createSale" id="createSale" action="/createSale" method="post">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" name="name" class="form-control input-top" placeholder="Bob's Yard Sale" required autofocus>
            <label for="inputStreet" class="sr-only">Address</label>
            <input type="text" id="inputStreet" name="street" class="form-control input-middle" placeholder="1234 4th Street" required>
            <label for="inputCity" class="sr-only">City</label>
            <input type="text" id="inputCity" name="city" class="form-control input-middle" placeholder="Atlanta" required>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputState" name="state" class="form-control input-middle" placeholder="GA" required>
            <label for="inputZip" class="sr-only">Zip Code</label>
            <input type="text" id="inputZip" name="zip" class="form-control input-bottom" placeholder="30332" required>
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id="startDate" name="startDate" class="form-control" placeholder="Start Date..." />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </div>
            </div>
            <div class='col-md-5'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' id="endDate" name="endDate" class="form-control" placeholder="End Date..."/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="btn-toolbar pull-right">
                    <button class="btn btn-success" type="submit">Create Sale</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
        $('#datetimepicker2').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
    });
</script>

}