@* Displays Edit Sale page *@
@import java.util
@(sale: Sale, roles: util.List[Role])

@loggedinmain("Edit Sale") {
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-datetimepicker.min.css")" />
<script src="@routes.Assets.versioned("javascripts/moment.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap-datetimepicker.min.js")"></script>

<div class="container content">
    <div class="text-center tanBackground row corners">
        <h1>Edit Sale</h1>
    </div>
    <div class="col-sm-5">
        <a href="/sale/@sale.id"><h4>&#8592; Return to Sale</h4></a>
        <form class="form-editSale" id="editSale" method="post">
          <fieldset class="form-group row">
            <label for="inputName" class="col-sm-3 form-control-label">Sale Name</label>
            <div class="col-sm-9">
              <input type="text" maxlength="255" id="inputName" name="name" class="form-control" value="@sale.name" required autofocus>
            </div>
          </fieldset>
          <fieldset class="form-group row">
            <label for="inputDescription" class="col-sm-3 form-control-label">Description</label>
            <div class="col-sm-9">
              <textarea maxlength="255" rows="3" id="inputDescription" name="description" class="form-control">@sale.description</textarea>
            </div>
          </fieldset>
          <fieldset class="form-group row">
            <label for="inputStreet" class="col-sm-3 form-control-label">Address</label>
            <div class="col-sm-9">
              <input type="text" maxlength="255" id="inputStreet" name="street" class="form-control" value="@sale.street" required>
            </div>
          </fieldset>
          <fieldset class="form-group row">
            <label for="inputCity" class="col-sm-3 form-control-label">City</label>
            <div class="col-sm-9">
              <input type="text" maxlength="255" id="inputCity" name="city" class="form-control" value="@sale.city" required>
            </div>
          </fieldset>
          <div class="row">
            <fieldset class="form-group col-sm-6">
              <label for="inputState" class="col-sm-6 form-control-label negate-left-padding">State</label>
              <div class="col-sm-6">
                <input type="text" maxlength="2" name="state" class="form-control" value="@sale.state" required>
              </div>
            </fieldset>
            <fieldset class="form-group col-sm-6">
              <label for="inputZip" class="col-sm-6 form-control-label">Zip Code</label>
              <div class="col-sm-6 negate-right-padding">
                <input type="number" min="10000" max="99999" id="inputZip" name="zip" class="form-control" value="@sale.zip" required>
              </div>
            </fieldset>
          </div>
          <div class="row">
            <h4 class="text-center">Sale Dates</h4>
            <div class="form-group col-sm-6">
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' id="startDate" name="startDate" class="form-control" value="@sale.formatStartDate" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <div class='input-group date' id='datetimepicker2'>
                <input type='text' id="endDate" name="endDate" class="form-control" value="@sale.formatEndDate" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <fieldset class="form-group row col-sm-12">
            <label class="checkbox-inline"><input type="checkbox" id="inputDonor" name="donor" value="1" @if(sale.donor == "1"){checked}>Is this sale for charity?</label>
          </fieldset>
          <div class="text-center">
            <button class="btn btn-success" type="submit">Update Sale</button>
          </div>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h2 class="text-center">User Roles</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="users">
            @for(index <- 0 until roles.size){
            <tr>
                <td>@roles(index).getUser().getName</td>
                <td>@roles(index).getUser().username</td>
                <td>@roles(index).getUser().email</td>
                <td>@roles(index).name</td>
                <td><form method="post" class="hidden-form"><button class="btn btn-sm btn-danger" type="submit" name="deleteRoleUserId" value="@roles(index).userId">Remove</button></form></td>
            </tr>
            }
            </tbody>
        </table>
        <form method="post" class="form-inline">
            <div class="form-group">
                <label for="addRoleUsername">Username</label>
                <input name="addRoleUsername" id="addRoleUsername" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="addRoleName">Role</label>
                <select name="addRoleName" id="addRoleName" class="form-control" required>
                    <option value="admin">Admin</option>
                    <option value="bookkeeper">Bookkeeper</option>
                    <option value="cashier">Cashier</option>
                    <option value="clerk">Clerk</option>
                    <option value="seller">Seller</option>
                </select>
                <button type="submit" class="btn btn-primary">Add User</button>
            </div>

        </form>
        @if(sale.status == 1) {
          <h3>Sale is open.</h3>
          <form method="post" class="hidden-form">
              <button class="btn btn-primary" type="submit" name="close" value="@sale.id">CLOSE SALE</button>
          </form>

        } else {
          <h3>Sale is closed.</h3>
          <form method="post" class="hidden-form">
              <button class="btn btn-primary" type="submit" name="open" value="@sale.id">OPEN SALE</button>
          </form>
        }
        <form method="post" class="hidden-form">
            <button class="btn btn-primary" type="submit" name="archive" value="@sale.id">ARCHIVE SALE</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $('.date').datetimepicker({
        format: 'MM/DD/YYYY',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        }
    });
</script>

}
