@* Displays Financial Report page for single user *@
@(items: List[LineItem], saleId: Int)

@loggedinmain("My Financial Report") {
    <link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
<div class="container content">
    <div class="col-md-3">
        <a href="/sale/@saleId" class="hidden-print"><h4>&#8592; Return to Sale</h4></a>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">My Financial Report</h2>
        <h4 class="text-center">My items that were sold</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Transaction</th>
                <th>Item</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            @for(index <- 0 until items.size){
            <tr>
                <td>@items(index).transactionId</td>
                <td>@items(index).name</td>
                <td>$@items(index).formatUnitPrice</td>
                <td>@items(index).quantity</td>
                <td>$@items(index).formatTotalPrice</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-3 subnav corners">
        <a href="/sale/@saleId/financialReport" class="subnav-a goldHighlight">FINANCIAL REPORT BY TRANSACTION</a>
    </div>
</div>
}
