@* Displays help page *@

@loggedinmain("Help") {
  <link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
<div class="container content">
    <h1 class="text-center tanBackground corners">Help Center</h1>
    <div class="col-md-4">
      <h3 class="text-center">Setting up a Sale</h3>
      <h4>Creating the Sale</h4>
      <ol>
        <li>Head to the Sales page and click "CREATE SALE"</li>
        <li>Fill out the details about your sale, then click "CREATE SALE"</li>
        <li>An empty Sale will now be created. It is not yet open</li>
      </ol>

      <h4>Adding Items to the Sale</h4>
      <ol>
        <li>Click "ADD ITEM" on the sale page</li>
        <li>Fill out the details about your item, then click "ADD ITEM"</li>
      </ol>

      <h4>Opening the Sale</h4>
      <ol>
        <li>Click "EDIT SALE" on the sale page</li>
        <li>Click "OPEN SALE"</li>
      </ol>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Managing a Sale</h3>
      <h4>User Roles</h4>
      <ul>
        <li>Admin - Can do anything on the sale</li>
        <li>Bookkeeper - Can view financial records</li>
        <li>Cashier - Can create transactions</li>
        <li>Clerk - Can view and print tags</li>
        <li>Seller - Can update the catalog, view financial records, create transactions, and view and print tags</li>
      </ul>
      <h4>Managing Users</h4>
      <ol>
        <li>Click "EDIT SALE" on the sale page</li>
        <li>Under "User Roles" is a list of current users and their roles</li>
        <li>To add a user, type a username and select their role from the menu, then click "ADD USER"</li>
        <li>To remove a user, Click "Remove" in the User Roles table</li>
      </ol>
      <h4>Closing the Sale</h4>
      If you wish to stop accepting transactions and hide the sale, you can close it.
      <ol>
        <li>Click "EDIT SALE" on the sale page</li>
        <li>Click "CLOSE SALE"</li>
      </ol>
      <h4>Archiving the Sale</h4>
      When the sale is finished and you wish to stop allowing new transactions, or any changes, you can archive the sale.
      <ol>
        <li>Click "EDIT SALE" on the sale page</li>
        <li>Click "ARCHIVE SALE"</li>
      </ol>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">QR Code Checkout</h3>
      <p>As a cashier, you can use your mobile device to speed up the checkout process.</p>
      <p>To get started, download a QR reader app. For iOS, the <strong>Scanbot</strong> app is recommended. Other apps may redirect to a web browser and slow your checkout workflow.</p>
      <h4>Steps:</h4>
      <ol>
        <li>Open a Sale page.</li>
        <li>Click "CREATE TRANSACTION".</li>
        <li>Using your mobile device, scan the QR code on the Transaction page. This registers your device.</li>
        <li>Now, scan the QR code of each Item you wish to add.</li>
      </ol>
    </div>

    <div id="all">
    <hr>
    <p></p>
    <div class="sub"><h3>Rundown of the Website</h3></div>
    <p></p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ucZFzayoZzg" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
}
