@* Displays home page *@

@main("Welcome") {
<div class="container content">
    <img class="front-image" src="http://static.wixstatic.com/media/922da6_f4ec6addc28d4643b8eda3cc4900eb63.jpg" />
    <div class="col-sm-6">
        <h1>The Ultimate Yard Sale Helper.</h1>
        <ul>
            <li>Manage inventory</li>
            <li>Print labels and barcodes</li>
            <li>Provide email receipts</li>
            <li>Download financial reports</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <form action="/register" method="post">
            <div class="form-group">
                <input type="text" maxlength="255" class="form-control" id="registerFirstName" name="firstName" placeholder="First Name*" required>
            </div>
            <div class="form-group">
                <input type="text" maxlength="255" class="form-control" id="registerLastName" name="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="email" maxlength="255" class="form-control" id="registerEmail" name="email" placeholder="Email*" required>
            </div>
            <div class="form-group">
                <input type="text" maxlength="255" class="form-control" id="registerUsername" name="username" placeholder="Username*" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="registerPassword" name="password" placeholder="Password*" required>
            </div>
            <button type="submit" class="btn btn-info">Sign up for free</button>
        </form>
    </div>
</div>
}
