@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome") {
<div class="container content">
    <img class="front-image" src="http://placehold.it/1000x200" />
    <div class="col-sm-6">
        <h1>The Ultimate Yard Sale Helper.</h1>
        <ul>
            <li>Manage inventory</li>
            <li>Print labels and barcodes</li>
            <li>Provide email receipts</li>
            <li>Download financial reports</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="registerName" placeholder="Name" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="registerEmail" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="registerUsername" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="registerPassword" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-info">Sign up for free</button>
        </form>
    </div>
</div>
}
