@* Displays Item page *@
@(saleId:Int, itemId:Int, name:String, description:String, price:Float, error:String)

@loggedinmain("Item") {
  <div class="container content">
    <div class="view profile" id="view-profile">
      <div class="col-sm-6">
        <img class="profile-image" src="http://placehold.it/200x200" />
        <h1>@name</h1>
        <p class="lead">@description</p>
        <p class="lead">@price</p>
      </div>
      <div class="col-sm-6">

        <a href="#" class="btn btn-success pull-right" onclick="changeToEdit();">Edit Item</a>
      </div>

    </div>
    <div class="edit profile" id="edit-profile">
      <div class="col-sm-4">
        <img class="profile-image" src="http://placehold.it/200x200" />
        <<h1>@name </h1>
        <p class="lead">@description</p>
        <p class="lead">@price</p>

      </div>
      <div class="col-sm-4">
        @if(error) {<h3 class="text-center">@error</h3>}
        <form class="form-edititem" id="edit-form" action="/sale/@saleId/item/@itemId" method="post">
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" id="inputName" name="name" class="form-control input-top" value="@name" required autofocus>
          <label for="inputDescription" class="sr-only">Description</label>
          <input type="text" id="inputDescription" name="description" class="form-control input-middle" value="@description" required>
          <label for="inputPrice" class="sr-only">Price</label>
          <input type="text" id="inputPrice" name="price" class="form-control input-middle" value="@price" required>
          <div class="col-sm-4">
            <div class="btn-toolbar pull-right">
              <a href="#" class="btn btn-success" onclick="changeToView();">cancel</a>
              <button class="btn btn-success" type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <script>
          var changeToEdit = function() {
            $("#view-profile").css("display", "none");
            $("#edit-profile").css("display", "block");
          }
          var changeToView = function() {
            $("#edit-profile").css("display", "none");
            $("#view-profile").css("display", "block");
          }

  </script>
}
