@(message: String)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
</head>
<body>
<div class="text-center">
    <h2>Welcome, @message</h2>
    <a href="/logout" class="btn btn-default">Log Out</a>
</div>
</body>
</html>