@* Displays mobile redirect to item scan page. Most QR code readers load the page twice. This redirect keeps actions from being registered twice *@

@(message: String)
<html>
  <link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">s
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <script>
      window.location.assign("@message");
    </script>
  </body>
</html>
