@* Displays user's sales page *@
@import java.util
@(sales: util.List[Sale])

@loggedinmain("My Sales") {
    <link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
<div class="container content">
    <div class="view profile" id="view-profile">

        <div class="row">
            <div class="col-sm-12 subnav">
                <a href="/createSale" class="subnav-a goldHighlight">CREATE SALE</a>
                <a href="/sales" class="subnav-a goldHighlight">VIEW OPEN SALES</a>
            </div>
            <!-- Search form removed on my sales page -->
        </div>

        <div class="saleList">
            <h1 class="text-center">My Sales</h1>
            <div class="col-sm-2"></div>
            <div class="col-sm-8 sales">
                @for(index <- 0 until sales.size){
                    <div class="col-sm-4">
                    <h2><a href="/sale/@sales(index).id">@sales(index).name</a></h2>
                    <h5>@sales(index).street</h5>
                    <h5>@sales(index).city, @sales(index).state @sales(index).zip</h5>
                    <h5>@sales(index).formatStartDate - @sales(index).formatEndDate</h5>
                    @if(sales(index).status == 0) {
                        <h4>Sale is Closed</h4>
                    }
                    @if(sales(index).status == 1) {
                        <h4>Sale is Open</h4>
                    }
                    @if(sales(index).status == 2) {
                        <h4>Sale is Archived</h4>
                    }

                    <hr>
                    </div>
                }
                @if(sales.size == 0) {
                    <h3 id="noResults" class="text-center">You Have No Sales</h3>
                }
            </div>
        </div>
    </div>
</div>
}
