@* Displays user's sales page *@
@(sales: List[Sale])

@loggedinmain("My Sales") {
<div class="container content">
    <div class="view profile" id="view-profile">

        <div class="row">
            <div class="col-sm-9">
                <a href="/createSale" class="btn btn-primary">CREATE SALE</a>
                <a href="/sales" class="btn btn-primary">VIEW OPEN SALES</a>
            </div>
            <!-- Search form removed on my sales page -->
        </div>

        <div class="saleList">
            <h1 class="text-center">My Sales</h1>
            <div class="col-sm-2"></div>
            <div class="col-sm-8 sales">
                @for(index <- 0 until sales.size){
                    <h2><a href="/sale/@sales(index).id">@sales(index).name</a></h2>
                    <h3>@sales(index).street</h3>
                    <h3>@sales(index).city, @sales(index).state @sales(index).zip</h3>
                    <h3>@sales(index).formatStartDate - @sales(index).formatEndDate</h3>
                    @if(sales(index).status == 0) {
                        <h3>Sale is Closed</h3>
                    }
                    @if(sales(index).status == 1) {
                        <h3>Sale is Open</h3>
                    }
                    @if(sales(index).status == 2) {
                        <h3>Sale is Archived</h3>
                    }
                }
                @if(sales.size == 0) {
                    <h3 id="noResults" class="text-center">You Have No Sales</h3>
                }
            </div>
        </div>
    </div>
</div>
}
