@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@(username:String, password:String, name:String, email:String, error:String)
@loggedinmain("Profile") {
<div class="container content">
    <div class="view profile" id="view-profile">
        <div class="col-sm-6">
            <img class="profile-image" src="http://placehold.it/200x200" />
            <h1>@name </h1>
            <p class="lead">@username</p>
            <p class="lead">@email</p>

        </div>
        <div class="col-sm-6">

            <a href="#" class="btn btn-success pull-right" onclick="changeToEdit();">Edit profile</a>
        </div>

    </div>
    <div class="edit profile" id="edit-profile">
        <div class="col-sm-4">
            <img class="profile-image" src="http://placehold.it/200x200" />
            <<h1>@name </h1>
            <p class="lead">@username</p>
            <p class="lead">@email</p>

        </div>
        <div class="col-sm-4">
            @if(error) {<h3 class="text-center">@error</h3>}
            <form class="form-editprofile" id="edit-form" action="/profile" method="post">
                <label for="inputName" class="sr-only">Name</label>
                <input type="text" id="inputName" class="form-control input-top" value=@name required autofocus>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" class="form-control input-middle" value=@email required>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" class="form-control input-middle" value=@username required>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control input-bottom" value=@password required>
                <div class="col-sm-4">
                    <div class="btn-toolbar pull-right">
                        <a href="#" class="btn btn-success" onclick="changeToView();">cancel</a>
                        <a href="#" class="btn btn-success" onclick="changeToView();" type="submit">Save Changes</a>

                    </div>
                </div>
            </form>
        </div>


    </div>
</div>
<script>
    var changeToEdit = function() {
        $("#view-profile").css("display", "none");
        $("#edit-profile").css("display", "block");
    }
    var changeToView = function() {
        $("#edit-profile").css("display", "none");
        $("#view-profile").css("display", "block");
    }

</script>
}