@* Displays sale page *@
@(user: User, sale: Sale, items: List[SaleItem], pubUrl: String)

@loggedinmain(sale.name) {
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container content">
    <div class="view sale" id="view-sale">
        <div class="row">
            <div class="col-sm-7 subnav">
                <div class = "subnav">
                @if(sale.status != 2 && user.canBeSeller(sale.id)) {<a href="/sale/@sale.id/addItem" class="subnav-a goldHighlight">
                    <span class="subnav-content">ADD ITEM</span></a>}
                @if(sale.status != 2 && user.canBeAdmin(sale.id)) {<a href="/sale/@sale.id/edit" class="subnav-a goldHighlight">EDIT SALE</a>}
                @if(sale.status == 1 && user.canBeCashier(sale.id)) {<a href="/createTransaction/@sale.id" class="subnav-a goldHighlight">CREATE TRANSACTION</a>}
                @if(sale.status != 2 && user.canBeClerk(sale.id)) {<a href="/sale/@sale.id/saleTag" class="subnav-a goldHighlight">PRINT TAGS</a>}
                @if(user.canBeBookkeeper(sale.id)) {<a href="/sale/@sale.id/financialReport" class="subnav-a goldHighlight">FINANCIAL REPORT</a>}
                @if(sale.status == 2 && user.canBeAdmin(sale.id)) {
                <form method="post" class="hidden-form">
                    <button class="btn btn-warning" type="submit" name="unarchive" value="@sale.id">UNARCHIVE SALE</button>
                </form>
                }
                </div>
            </div>
            <div class="col-sm-2 subnav">
              <div class="social-button pull-left">
                <div class="fb-share-button" data-href="@pubUrl" data-layout="button_count" data-size="small" data-mobile-iframe="true"></div>
              </div>
              <div class="social-button pull-right">
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20sale&url=@pubUrl">Tweet</a>
              </div>
            </div>
            <div class="col-sm-3 subnav">
                <div class="input-group">
                    <form class="form-search-field" action="/sale/@sale.id/searchItems" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Search Items...">
                        <span class="input-group-btn">
                            <button class="btn btn-default icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>

            <div class = "tanBackground row bottomCorners">
                <h1 class="text-center title" id="saleName">@sale.name</h1>
                <div class="row">
                    <div class="col-sm-3" id="saleAddress">
                        <h3 class="text-center">Address</h3>
                        <h4 class = "text-center" id="saleAddress1">@sale.street</h4>
                        <h4 class = "text-center" id="saleAddress2">@sale.city, @sale.state @sale.zip</h4>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="text-center">Description</h3>
                        <h4 class = "text-center" id="saleDescription">@sale.description</h4>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="text-center">Created By</h3>
                        <h4 class = "text-center" id="saleCreatedBy" class="text-center"><a href="/profile/@sale.userCreatedId">@sale.getCreatedBy</a></h4>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="text-center">Dates</h3>
                        <h4 class = "text-center" id="saleDates">@sale.formatStartDate - @sale.formatEndDate</h4>
                    </div>
                </div>
            </div>
            <h2 class="text-center">Items for Sale</h2>
            <hr>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                            <div class="row">
                            @for(index <- 0 until items.size){
                                <div class="col-sm-4">
                                <h2><a href="/sale/@sale.id/item/@items(index).id">@items(index).name</a></h2>
                                <h4>@items(index).description</h4>
                                <h5>$@items(index).formatPrice (@items(index).quantity in stock)</h5>
                                </div>
                                @if(index != items.size - 1 && index % 3 == 2){</div><hr><div class="row">}
                            }
                            </div>
                </div>
            </div>

    </div>
</div>
}
