@loggedinmain("Profile") {
<div class="container content">
    <div class="view profile" id="view-profile">

        <div class="col-sm-4">


            <a href="/createSale" class="btn btn-success">CREATE SALE</a>
        </div>
        <div class="col-sm-5">

        </div>
        <div class="col-sm-3">
            <div class="input-group">

                <form class="form-search-field" action="/searchLocations" method="post">

                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search locations...">
                        <span class="input-group-btn">
                            <button class="btn btn-default icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div><!-- /input-group -->

                </form>

            </div>

        </div>
        <ul class="saleList">
            <h1 class = "text-center">Available Yard Sales</h1>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8 sales">


            </div>
        </ul>
    </div>
</div>

<!-- script to add sale info from database -->
<script>
    $.getJSON("/getSales", function(data) {
        for(var i in data) {
            var text = data[i].name;
            var output = "<div class=\"col-sm-8 sale\"><h2>" + data[i].name + "</h2>" + "<h3>" + data[i].street + "</h3>" + "<h3>" + data[i].city + ", "
            + data[i].state + " " + data[i].zip + "</h3>" + "<h3>" + data[i].startDate + " - " + data[i].endDate + "</h3></div>";
            $(".sales").append(output)
        }
    });
</script>

}