@* Displays Tag page *@
@(id: Int)

@loggedinmain("Printable Tags for Items") {
<div class="container content">
  <div class="view profile" id="view-profile">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5"></div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>

  <ul class="itemTags">
      <h2 class="text-center">Item Tags</h2>
      <div class="row">
          <a href="/sale/@id"><h4>&#8592; Return to Sale</h4></a>

          <div class="col-sm-2"></div>
        <div class="col-sm-8 items saleItem"></div>
      </div>
  </ul>
</div>

  <!-- script to add item info from database -->
<script>
    // Populate page with sale items
    $.post("/getItems", { "saleId" : "@id" }).done(function( data ) {
        for(var i in data) {
            for (j = 0; j < data[i].quantity; j++) {
                var output = "<h2>" + "Name: " + data[i].name + "</a></h2>" + "<h3>"
                    + "Stock Number: " + data[i].id + "</h3>"  + "<h3>"
                    + "Description: " + data[i].description+ "</h3>" + "<h3>"
                    + "Price: $" + data[i].price.toFixed(2) + "</h3></div><hr>";
                $(".items").append(output)
            }
        }
    });


</script>

}
