@* Displays sales page *@
@(sales: List[Sale])

@loggedinmain("Sales") {

<link href="//fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">

<div class="container content">

    <div class="view sale" id="view-sale">
        <div class="row">
            <div class="col-sm-9 subnav">
                <a href="/createSale" class="subnav-a goldHighlight">CREATE SALE</a>
                <a href="/mysales" class="subnav-a goldHighlight">VIEW MY SALES</a>
            </div>
            <div class="col-sm-3 subnav">
                <div class="input-group">
                    <form class="form-search-field" action="/searchSales" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Search Sales...">
                            <span class="input-group-btn">
                            <button class="btn btn-default icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>


        <div class = "tanBackground row">
            <h1 class="text-center title">All Open Sales</h1>
        </div>
            <div class="col-sm-2"></div>
                <div class="col-sm-8 sales">
                @for(index <- 0 until sales.size){
                    <h2><a href="/sale/@sales(index).id">@sales(index).name</a></h2>
                    <h3>@sales(index).street</h3>
                    <h3>@sales(index).city, @sales(index).state @sales(index).zip</h3>
                    <h3>@sales(index).formatStartDate - @sales(index).formatEndDate</h3>
                }
                @if(sales.size == 0) {
                    <h3 id="noResults" class="text-center">No Open Sales</h3>
                }
            </div>


    </div>
</div>
}
