@* Displays item query results *@
@(saleId: Int, tranId: Int, query: String)
@loggedinmain("Search Items Stock Number") {
  <div class="container content">
    <div class="view profile" id="view-profile">
      <div class="row">
        <div class="col-sm-4">
          <a href="/createTransaction/@saleId"><h4>&#8592; Return to Transaction</h4></a>
        </div>
        <div class="col-sm-5">

        </div>
        <div class="col-sm-3">
          <div class="input-group">

            <form class="form-search-field" action="/sale/@saleId/searchItemStock" method="post">

              <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Add by stock number..." value="@query">
                <span class="input-group-btn">
                  <button class="btn btn-default icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div>

        </div>
      </div>

      <div class="itemList">
        <h1 class="text-center">Search Results</h1>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8 results">
          <div id="noResults" style="display: none;">
            <h3 class="text-center">No Results Found</h3>
          </div>

        </div>
      </div>
    </div>
  </div>

    <!-- script to load query results -->
  <script>
          $.post("/getSearchItems", { "saleId" : "@saleId", "query" : "@query" })
                  .done(function(data) {
                    if (jQuery.isEmptyObject(data)) {
                      $("#noResults").css("display", "block");
                    }
                    for(var i in data) {
                      var output = "<a href=\"/sale/:@saleId/transaction/:@tranId/:data[i].id/addLineItem\" class=\"btn btn-primary pull-left\">ADD ITEM TO TRANSACTION</a>" + "<br>" + "<br>" +
                              "<h2><a href=\"/sale/@saleId/item/" + data[i].id + "\">" + data[i].name + "</a></h2>" + "<h3>" + data[i].stockNumber + "<h3>" + "<h3>" + data[i].description + "</h3>" + "<h3>" + "$" + data[i].price +"</h3><hr>";
                      $(".results").append(output);
                    }
                  });
  </script>

}