@* Displays item query results *@
@(query: String)
@loggedinmain("Search Items") {
    <div class="container content">
        <div class="view profile" id="view-profile">

            <div class="col-sm-4">


                <a href="/addItem" class="btn btn-success">CREATE ITEM</a>
            </div>
            <div class="col-sm-5">

            </div>
            <div class="col-sm-3">
                <div class="input-group">

                    <form class="form-search-field" action="/searchItems" method="post">

                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Search Items..." value="@query">
                            <span class="input-group-btn">
                                 <button class="btn btn-default icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>

            </div>
            <ul class="saleList">
                <h1 class = "text-center">Search Results</h1>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8 results">

                </div>
            </ul>
    </div>
</div>

    <!-- script to load query results -->
    <script>
            $.post("/getSearchItems", { "query" : "@query" })
                    .done(function(data) {
                        for(var i in data) {
                            var output = "<div class=\"sale\"><h2>" + data[i].name + "</h2>" + "<h3>" + data[i].description + "</h3>" + "<h3>" + data[i].price +"</h3></div>";
                            $(".results").append(output);
                        }
                    });
    </script>

}