@* Displays Transaction page *@
@(transaction: Transaction, lineItems: List[LineItem], message: String)

@loggedinmain("Transaction") {
<div class="container content">

    <div class="view sale" id="view-sale">
        <div class="col-sm-9">
            <form method="post" class="hidden-form"><button class="btn btn-danger" type="submit" name="cancelTransactionId" value="@transaction.id">CANCEL TRANSACTION</button></form>
            <a href="/sale/@transaction.saleId/confirmTransaction/@transaction.id" class="btn btn-success">CONFIRM TRANSACTION</a>
        </div>

        <div class="col-sm-3">
            <div class="input-group">
                <form class="form-search-field" action="/sale/@transaction.saleId/transaction/@transaction.id/searchItemStock" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search items...">
                        <span class="input-group-btn">
                            <button class="btn btn-default icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-5">
                <img class="center-block" src="/qr?value=/sale/@transaction.saleId/registerMobileTransaction/@transaction.id/@transaction.randomNonce">
                <p class="text-center lead">Scan with device to use as mobile scanner</p>
                <h2 class="text-center">Items in Cart</h2>
                <div class="lineItems">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(index <- 0 until lineItems.size){
                            <tr>
                                <td>@lineItems(index).getName</td>
                                <td>@lineItems(index).quantity</td>
                                <td>$@lineItems(index).formatTotalPrice</td>
                                <td><form method="post" class="hidden-form"><button class="btn btn-sm btn-danger" type="submit" name="deleteLineItemId" value="@lineItems(index).id"><span class="glyphicon glyphicon-trash"></span></button></form></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @if(lineItems.size == 0){
                    <h3 id="noResults" class="text-center">Empty cart. Add items on the right.</h3>
                    }
                </div>
            </div>

            <div class="col-sm-1"></div>

            <div class="col-sm-6">
                <h2 class="text-center">Items for Sale</h2>
                @if(message){<h3>@message</h3>}
                <form method="post" class="form-inline">
                    <div class="form-group">
                        <label for="addItemId">Item Id</label>
                        <input type="number" min="1" name="addItemId" id="addItemId" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="addItemQuantity">Quantity</label>
                        <input type="number" min="1" name="addItemQuantity" id="addItemQuantity" class="form-control" value="1" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </form>
                <br>
                <div class="items">

                </div>
            </div>

        </div>
    </div>
</div>
<!-- /submit -->


<script>
// Populate page with sale items
$.post("/getItems", { "saleId" : "@transaction.saleId" }).done(function( data ) {
    for(var i in data) {
        var output = "<form method=\"post\" class=\"hidden-form pull-left\"><input type=\"hidden\" value=\"1\" name=\"addItemQuantity\"><button class=\"btn btn-primary\" type=\"submit\" name=\"addItemId\" value=\""
                + data[i].id + "\">ADD ITEM</button></form><br><h2>" + data[i].name + "</a></h2><h3>Id: " + data[i].id
                + "</h3><h3>" + data[i].description + "</h3><h3>$" + data[i].price.toFixed(2) + "</h3><hr>";
        $(".items").append(output);
    }
});

//Check for mobile added items
</script>

}
