@(saleId: Int, tranId: Int, message : String)
    @loggedinmain("Transaction") {
        <div class="container content">

            <div class="view sale" id="view-sale">
                <div class="col-sm-4"></div>
                <div class="col-sm-5"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <form class="form-search-field" action="/sale/@saleId/transaction/@tranId/searchItemStock" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="query" placeholder="Add by stock number...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <h2 class="text-center">Items in Cart</h2>
                        <div class="lineItems"></div>
                        <a href="/sale/@saleId/transaction/@tranId/buy" class="btn btn-primary">BUY</a>

                    </div>
                    <div class="col-sm-4">
                        <h2 class="text-center">Items for Sale</h2>
                        <div class="col-sm-8 items verticalLine"></div>
                    </div>
                </div>
            </div>
        </div>
            <!-- /submit -->


        <script>
                // Populate page with sale items
                $.post("/getItems", { "saleId" : "@saleId" }).done(function( data ) {
                    for(var i in data) {
                        var itemId = data[i].id;
                        var output = "<a href=\"/sale/@saleId/transaction/@tranId/addLineItem/" + itemId + "\" class=\"btn btn-primary pull-left\">ADD ITEM</a>" + "<br>" + "<br>"
                        + "<h2>" + data[i].name + "</a></h2>"
                        + "<h3>" + data[i].stockNumber + "</h3>"
                        + "<h3>" + data[i].description+ "</h3>" + "<h3>"
                        + "$" + data[i].price + "</h3></div><hr>";
                        $(".items").append(output)
                    }
                });
                // Populate page with transaction items
                $.post("/getLineItems", { "transactionId" : "@tranId" }).done(function( data ) {
                    for(var i in data) {
                        var output = "<h2><a href=\"/sale/@saleId/item/"
                                + data[i].id + "\">" + data[i].name + "</a></h2>"
                                + "<h3>" + data[i].description + "</h3>" + "<h3>"
                                + data[i].price + "</h3></div><hr>";
                        $(".lineItems").append(output)
                    }
                });
        </script>
    }

