@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@loggedinmain("Users") {
<div class="container content">
    <h3>Current Users</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="users">

        </tbody>
    </table>
</div>

<script>
    $.getJSON("/userList", function(data) {
        for(var i in data) {
            var text = data[i].name;
            var output = "<tr><td>"+data[i].name+"</td><td>"+data[i].username+"</td><td>"+data[i].email+"</td></tr>";
            $("#users").append(output)
        }
    });
</script>
}