@* Displays Tag page *@
@import java.util
@(items: util.List[SaleItem], saleId: Int)

@loggedinmain("Printable Tags for Items") {
<div class="container content">
  <div class="tanBackground row corners">
    <h2 class="text-center">Item Tags</h2>
  </div>
  <h4 class="hidden-print"><a href="/sale/@saleId">&#8592; Return to Sale</a></h4>
  <div class="col-sm-2"></div>
  <div class="col-sm-8 items">
    @for(index <- 0 until items.size) {
      @for(index2 <- 0 until items(index).quantity) {
        <div class="row tag-row saleItem corners">
          <div class="col-xs-8">
            <h2>Name: @items(index).name</h2>
            <h3>Stock Number: @items(index).id</h3>
            <h3>Description: @items(index).description</h3>
            <h3>Price: $@items(index).formatPrice</h3>

          </div>
          <div class="col-xs-4">
            <img class="tag-qr" src="/qr?value=/mobileScanRedirect/@items(index).id">
          </div>
          <hr>
        </div>
      }
    }
  </div>
</div>
}
